:root {
	font-family: Open Sans, Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0em;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	/* it is for not comming cursor inbetween any text */
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-o-user-select: none;
}

:root::-webkit-scrollbar {
	display: none;
}
:root {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.hideScrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.hideScrollbar::-webkit-scrollbar {
	display: none;
}
